h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 280601098-03. Comprobar fallas de las redes multiplexadas usando los equipos de diagnóstico




