h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Fundamentos de métodos de análisis de fallas', 'main.html#page/fundamentos/')
                    +navTemaItem('2', 'Técnicas de la verificación física de la red', 'main.html#page/red/')
                    +navTemaItem('3', 'Características de las fallas de las redes CAN BUS', 'main.html#page/fallas/')