.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Controlador:
            | Conocido en inglés como #[i device driver]. Dispositivos electrónicos que permiten interactuar con otros componentes.
        
        p
            strong.mr-2 Corrupción:
            | Distorsión de las señales de un circuito electrónico debido a interferencias electromagnéticas generadas por fuentes externas.
        p 
            strong.mr-2 Multiplexado:
            | Circuito que permite reducir el número de cables para transmitir señales.
        p 
            strong.mr-2 Perturbar:
            | Acción que ocasionan las interferencias electromagnéticas en las señales de los circuitos electrónicos.
