.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      p En este módulo se verificarán las condiciones de equipos, comprensión de diagramas de cableado y puntos de toma de las señales de CAN BUS.



              